/* TODO Add site wide styles */
.post_header_image{
    max-width: 50px;
    border-radius: 50%;
}

.homepage_post_image {
    width: 400px;
}

.postpage_post_image {
    width: 400px;
}

.usercard_container {
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.usercard_image {
    max-width: 100px;
    border-radius: 50%;
}

.comment_image {
    max-width: 50px;
    border-radius: 50%;
}

.postpage_post {
    border: 1px solid black
}

.postpage_post_container {
    display: flex
}
